.chatWindow {
  margin-top: 5px;
}

.userList {
  display: inline-block;
  width: 200px;
  height: 300px;
  background-color: #F4F4F4;
  border: 1px solid #666666;
  float: left;
}

.messageWindow, .messageInput {
  margin-left: 205px;
}

.messageWindow {
  height: 300px;
  width: 600px;
  background-color: #F4F4F4;
  border: 1px solid #666666;
  margin-bottom: 5px;
}

.hidden {
  display: none;
}

.messageWindow .messageUser::after {
  content: ' says: '
}

.messageWindow .timestamp {
  display: none; /* Not needed for demo */
}

#chatInput {
  width: 550px;
}
